<footer class="bg-dark text-white pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Shiva Shakti Engineering and Construction</h5>
        <p>Guru H M<br>Phone: 9845849799<br>Email: guruhm007@gmail.com</p>
      </div>
      <div class="col-md-2">
        <h6>Quick Links</h6>
        <ul class="list-unstyled">
          <li><a href="/services/" class="text-white">Services</a></li>
          <li><a href="/projects/" class="text-white">Projects</a></li>
          <li><a href="/gallery/" class="text-white">Gallery</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Business Hours</h6>
        <p>Mon - Sat: 9:00 AM - 6:00 PM</p>
      </div>
      <div class="col-md-3">
        <h6>Follow Us</h6>
        <a href="#" class="text-white me-2"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#" class="text-white me-2"><i class="fab fa-linkedin fa-lg"></i></a>
      </div>
    </div>
    <hr class="bg-secondary">
    <div class="text-center small">&copy; 2026 Shiva Shakti Engineering and Construction</div>
  </div>
</footer>