{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
  <h2>Services</h2>
  <div class="row">
    {% for s in services %}
    <div class="col-md-4" data-aos="fade-up">
      <div class="card mb-4">
        {% if s.image %}<img src="{{ s.image.url }}" class="card-img-top" alt="{{ s.title }}">{% endif %}
        <div class="card-body">
          <h5>{{ s.title }}</h5>
          <p>{{ s.description|truncatechars:120 }}</p>
          <a href="#" class="btn btn-outline-primary">Learn More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}